<% title t("layouts.application.chatroulette") %>
<%= content_for "page-attributes" do %>id="chatRoulettePage"<% end %>
<script src="https://staging.tokbox.com/v0.91/js/TB.min.js"></script>
<script src="http://10.0.1.24:3123/socket.io/socket.io.js"></script>

<% content_for :header do %>
<h1><%= t ".Chat_Roulette"%></h1>
<% end %>
<script>
$(document).ready(function(event) {
  var client = new RouletteClient("10.0.1.24", 3123, 15753391, $("#chatbox"), "publisher", "subscriber", true);

  client.connectToServer();
  client.setStateChangeEventListener(function(state){
    $('#server-state').html(state.toString());
  });
  $("#next_button").click(function(){
   client.next(); 
  });
  $("#ready-to-chat-button").click(function(){
    client.readyToChat();
  });
  $('#chat-textfield').keyup(function(e) {
  	if(e.keyCode == 13 && $('#chat-textfield').val().length > 0) {
  		client.sendMessage($('#chat-textfield').val());
  		$('#chat-textfield').val("");
  	}
  });
});
</script>
<div id="chatbox">
  <p>User online: <span data-role="user-count">1</span></p>
  <p>Server state: <span id="server-state">Hans</span></p>
  <div id="publisher"></div>
  <div id="subscriber"></div>
  <button id="next_button"><%= t ".next" %></button>
  <button id="ready-to-chat-button"><%= t ".ready_to_chat" %></button>
  <div id="chat-box">
    <ul data-role="chat-log">
      
    </ul>
    <input type="text" id="chat-textfield">
  </div>
</div>

