<%= content_for "page-attributes" do %>id="twitterPage"<% end %>
<script>
$(document).ready(function() {
  reload = function(){
    $("#twitter_list").twitterFeed(function()
    {
    });
  }
  reload();
  $("#reload-button").bind("click", function(e){
    reload();
  })
});
</script>
<% content_for :header do %>
<h1><%= t ".UPB_on_twitter"%></h1>
<a href="#" id="reload-button">refresh</a>
<% end %>

<ul id="twitter_list">
<li><%= t "please_wait" %></li>
</ul>

