<script>
    $(document).ready(function() {
      $("#twitter_list").twitterFeed();
    });
</script>
<% content_for :header do %>
<h1><%= t ".UPB_on_twitter"%></h1>
<% end %>

<ul id="twitter_list" data-role="listview">
	
</ul>

