<div id="ophase_welcome" class="alert alert-info alert-block">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<p class="center"><%= t(".ophase_teaser").html_safe %><br>
	<a href="#ophase-study-links" role="button" id="ophase_button_link" class="btn btn-info">&rarr; <%= t ".ophase_button" %></a>
	<span class="hide" id="choose_text" style="text-decoration:underline;"><br><%= t "pages.navigator.choose_study" %>:</span>
	</p>
	<ul id="ophase-study-links" class="hide nav nav-tabs nav-stacked">
		<li><a href="http://wiwi.uni-paderborn.de/studierende/studienstart/o-phase-bachelor/" target="_blank">&#9656; <strong>Wirtschaftswissenschaften und International Business Studies</strong> (Bachelor)</a></li>
		<li><a href="http://plaz.uni-paderborn.de/berufs-studienwahl/angebote-fuer-studienanfaenger/start-ins-studium/" target="_blank">&#9656; <strong>Lehramtsstudierende</strong></a>
		</li>
		<li><a target="_blank" href="http://fs.et.uni-paderborn.de/pages/posts/ablaufplan-o-phase-2014-62.php">&#9656; <strong>Elektrotechnik / Computer Eng. / Wing</strong> (E-Technik)</a></li>
		<li><a href="http://www.fsrwinfo.de/ophase/" target="_blank">&#9656; <strong>Wirtschaftsinformatik</strong></a><strong>
		</strong></li>
		<li><a href="https://fsmi.uni-paderborn.de/ophase/" target="_blank">&#9656; <strong>Mathe / Informatik / Technomathe</strong></a>
		</li>
		<li><a href="http://www.fsmb-upb.de" target="_blank">&#9656; <strong>Maschinenbau</strong></a>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/Sonstige_pdf/O-Phase_2014_wing_mb_.pdf" target="_blank">&#9656; <strong>Wirtschaftsingenieurwesen</strong> (mit Schwerpunkt Maschinenbau)</a></li>
		<li><a href="http://www.mewiupb.de/?page_id=609" target="_blank">&#9656; <strong> Medienwissenschaften</strong></a>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/Sonstige_pdf/KW_Plan_WiSe_2014_2015.pdf" target="_blank">&#9656; <strong>Europ채ische Studien</strong></a>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/Sonstige_pdf/Ablaufplan_Orientierungsphase_PMBAMA2014.pdf" target="_blank">&#9656; <strong>Popul채re Musik und Medien</strong> (Bachelor u. Master)</a>
		</li>
		<li><a href="http://fsfb13.uni-paderborn.de/index.php?page=erstsemester" target="_blank">&#9656; <strong>Chemie</strong></a><strong>
		</strong><strong></strong>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/Sonstige_pdf/O-Woche-Physik.pdf" target="_blank">&#9656; <strong>Physik</strong></a>
		</li>
		<li><a target="_blank" href="http://www.fachschaftsport.bplaced.net/?rel=erstsemester">&#9656; <strong>Angewandte Sportwissenschaften</strong></a>
		</li>
		<li><a href="http://wiwi.uni-paderborn.de/studierende/studienstart/o-phase-master/" target="_blank">&#9656; <strong>Masterstudierende der Fakult채t f체r Wirtschaftswissenschaften</strong></a>
		</li>
	</ul>
</div>

<% content_for :javascript do %>
<script>
  $(document).ready(function() {
	$("#ophase_button_link").click(function(e) {
		$("#ophase-study-links, #choose_text").toggle();
		e.preventDefault();
	});
  });
</script>
<% end %>