<% title t("layouts.application.api_docs") %>
<h1><% t ".title" %></h1>
<dl>
	<dt>api/v1/restaurants</dt>
	<dd>Returns a list of all restaurants</dd>
	<dt>api/v1/menus/:restaurant</dt>
	<dd>Returns the current menu of a given restaurant</dd>
	<dt>api/v1/courses/search?query=:query</dt>
	<dd>Searches the PAUL database for courses that match the query</dd>
	<dt>api/v1/course/:id</dt>
	<dd>Gets information of a specific course</dd>
</dl>