

    <div data-role="header">
		<h1>Single page</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <ul data-role="listview" data-theme="g">
        	<li><a href="acura.html">Acura</a></li>
        	<li><a href="audi.html">Audi</a></li>
        	<li><a href="bmw.html">BMW</a></li>
        </ul>
        	</div><!-- /content -->
	