<% title "PINGO" %>
<%= content_for "page-attributes" do %>id="embedPage"<% end %>
<% content_for :header do %>
<h2>PINGO</h2>
<% end %>
<% content_for :javascript do %>
<script>
/* 
	note we use js detection instead of css3 here because PINGO does so and otherwise would render another bootstrap menu in the iframe 
*/

(function(a){jQuery.browser.mobile=/android.+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)})(navigator.userAgent||navigator.vendor||window.opera);

var pingo_iframe = '<iframe src="http://pingo.upb.de/" style="height:90%;min-height:90%; width:100%;" frameborder="0"></iframe>';
var pingo_link = '<p>&nbsp;<br><a href="http://pingo.upb.de/" target="_blank" class="btn btn-primary btn-large">Go to PINGO</a></p><p>&nbsp;<br>Please open PINGO using the button. <br><em>(If you access this page with a compatible phone, you\'ll immediately be able to rock the vote!)</em></p>';
jQuery(document).ready(function(){
	if(jQuery.browser.mobile)
		$("#pingoContent").html(pingo_iframe);
	else
		$("#pingoFrameDiv").html(pingo_link);
});
</script>
<% end %>

<div id="pingoFrameDiv">
<div id="pingoContent">
	<strong>Loading...</strong>
</div>
<p class="source-info">
	<a target="_blank" href="http://pingo.upb.de">pingo.upb.de</a>.
</p>
</div>



