<%= content_for "page-attributes" do %>id="transportPage"<% end %>
<% content_for :header do %>
<h1><%= t "layouts.application.buses"%> <a href="#" id="reload-button"><i class="icon-refresh"></i></a></h1>
<% end %>
<script>
$(document).ready(function() {
  window.iUPB.Transportation.load_buses();
  $("#reload-button").click(function(e){
    window.iUPB.Transportation.load_buses();
	e.preventDefault();
  });
  var autoReload = window.setInterval(window.iUPB.Transportation.load_buses, 60*1000);
});
</script>
<ul id="bus_data_list" class="no-bullets no-left-margin">
  <li>
    <h3><%= t "please_wait" %></h3>
    </li>
</ul>
<p class="source-info">
	Aktuelle Daten: <a target="_blank" href="http://www.vrr.de/de/index.html">Verkehrsverbund Rhein-Ruhr</a>.
</p>

