<% title t(".UPB_on_twitter") %>
<%= content_for "page-attributes" do %>id="twitterPage"<% end %>
<script>
$(document).ready(function() {
  var list = $("#twitter_list");
  var twitterClient = new Twitter(list);
  var reload = function(){
    twitterClient.displayFeed(function (){});
  }
  reload();
  $("#reload-button").bind("click", function(e){
    reload();
	  e.preventDefault();
  })
});
</script>
<% content_for :header do %>
<h1><%= t ".UPB_on_twitter"%> <a href="#" id="reload-button"><i class="icon-refresh"></i></a></h1>
<% end %>

<ul id="twitter_list" class="no-bullets no-left-margin">
<li><%= t "please_wait" %></li>
</ul>

