<%= content_for "page-attributes" do %>id="twitterPage"<% end %>
<script>
$(document).ready(function() {
  var reload = function(){
    $("#twitter_list").twitterFeed(function()
    {
    });
  }
  reload();
  $("#reload-button").bind("click", function(e){
    reload();
  })
});
</script>
<% content_for :header do %>
<h1><%= t ".UPB_on_twitter"%> <a href="#" id="reload-button"><i class="icon-refresh"></i></a></h1>
<% end %>

<ul id="twitter_list" class="no-bullets no-left-margin">
<li><%= t "please_wait" %></li>
</ul>

