<%= content_for "page-attributes" do %>id="transportPage"<% end %>
<% content_for :header do %>
<h1><%= t "layouts.application.buses"%></h1>
<a href="#" id="reload-button" class="ui-btn-right" data-role="button" data-icon="refresh" data-iconpos="notext">refresh</a>
<% end %>
<script>
$('#transportPage').live( 'pageshow', function(event) {
  var load_buses = function()
  {
    $.ajax({ 
      url: "https://upbapi.cloudcontrolled.com/busplan.php?callback=?",
      dataType: "jsonp",
      type: "GET",
      jsonp: true,
      cache: true,
      jsonpCallback: "success", 
      success: function(data){
      var list = $("#bus_data_list");
      list.empty();
      for(var i = 0; i < data.length; i++)
      {
        var list_item = $('<li><h3 style="white-space: normal;">'
         + I18n.t("transportation.index.trip_at", {
            "station" : data[i].station, 
            "date" : I18n.l("time.formats.very_short", data[i].date)
           }) 
         + '</h3><p>'
         + I18n.t("transportation.index.line") 
         + ' ' 
         + data[i].line 
         + ', ' 
         + I18n.t("transportation.index.to") 
         + ' ' 
         + data[i].direction 
         + '</p></li>');
  			list.append(list_item);
      }
      list.listview('refresh');
    }});
  };
  load_buses();
  $("#reload-button").bind("click", function(e){
    load_buses();
	e.preventDefault();
  })
});
</script>
<ul id="bus_data_list" data-role="listview">
  <li>
    <h3><%= t "please_wait" %></h3>
    </li>
</ul>