
<% content_for :header do %>
<h1><%= @restaurant.name %> &ndash; <span id="day_title"><%= l(@today, format: "%a, %d. %b") %></span></h1>
	<% 
	#< %= link_to t(".prev_day"), restaurants_path, 'data-icon' => 'arrow-l', 'id' => "prev_day_button", 'data-iconpos' => 'notext', 'data-direction' => 'reverse' % >
	#< %= link_to t(".next_day"), restaurants_path, 'data-icon' => 'arrow-r', 'id' => "next_day_button", 'data-iconpos' => 'notext', 'data-direction' => 'reverse' % >
	%>
<% end %>

<ul id="menus" data-role="listview">
	<li><%= t "please_wait" %></li>
</ul>

<script>
var today = new Date(<%= @today_js %>);

// #TODO: put the following code in the Restaurant class (Restaurant.initMenuView(Date day) or so)
jQuery(document).bind('pageshow', function() {
	window.iUPB.Restaurant.updateMenus(today);
	
	$("#page").swiperight(function() { // swipe from right to left
	   today = window.iUPB.Restaurant.loadPrevDay(today);
	});
	$("#page").swipeleft(function() { // swipe from left to right
	   today = window.iUPB.Restaurant.loadNextDay(today);
	});
	$(document).keydown(function(e){
	    if (e.keyCode == 37) { // left key
	       today = window.iUPB.Restaurant.loadPrevDay(today);
	       return false;
	    }
	});
	$(document).keydown(function(e){
	    if (e.keyCode == 39) { // right key
	       today = window.iUPB.Restaurant.loadNextDay(today);
	       return false;
	    }
	});
});
</script>
