
<% content_for :header do %>
<h1><%= @restaurant.name %> &ndash; <%= l(@today, format: "%a, %d. %b") %></h1>
<% end %>
<ul id="menus" data-role="listview">
	<li><%= t "please_wait" %></li>
</ul>

<script>
jQuery(document).ready(function() {
	window.Restaurant.updateMenus();
});
</script>
