<%= content_for "page-attributes" do %>id="paulPage"<% end %>
<% content_for :header do %>
<h1><%= t ".Paul"%></h1>
<% end %>
<input type="search" name="search" autocomplete="off" placeholder="Search..." id="search_id" value="" />
<script>
$('#paulPage').live( 'pageshow', function(event) {
  //TODO: port this to coffee script :)

  
  var search_field = $("#search_id");
  var result_list = $("#courses_result_list");
  search_field.bind( "change", function(event, ui) {
    if(search_field.val().length == 0)
      result_list.empty();
  });
  var search_timer = null;
  search_field.keyup(function() {
    if(search_field.val().length == 0)
      result_list.empty();
    if(search_field.val().length < 3)
      return;
    if (search_timer)
      clearTimeout(search_timer);
    search_timer = setTimeout(function() 
    {
      $.getJSON('/courses/search/' + encodeURIComponent(search_field.val()), function(data)
      {
        result_list.empty();
        $.each(data, function() { 
          var li = $('<li>');
          var link = $('<a data-icon="arrow-r">');
          link.append($('<h3>' + this.course.title + '</h3>'));
          var id = this.course.id;
          link.attr('href', '/courses/' + encodeURIComponent(id));
          var next_class = this.course.next_class;
          if(next_class)
          {
            var infos = $('<p>');
            var text = I18n.t("courses.next_class", {
              date: I18n.l("date.formats.short", next_class.date),
              time_from: I18n.l("time.formats.very_short", next_class.time_from), 
              time_to: I18n.l("time.formats.very_short", next_class.time_to),
              place: next_class.room
            });
            infos.text(text);
            link.append(infos);
          }
          li.append(link);
          result_list.append(li);
        });
        result_list.listview('refresh');
      }); 
    }, 
    500);
  });
});
</script>
<ul data-role="listview" id="courses_result_list">
  <li><h3><%= t '.type_and_find' %></h3></li>
</ul>

