
<% content_for :header do %>
<h1><%= t ".Paul"%></h1>
<% end %>
<input type="search" name="search" autocomplete="off" placeholder="Search..." id="search_id" value="" />
<script>
var narf;
$(document).ready(function() {
  var search_field = $("#search_id");
  var result_list = $("#courses_result_list");
  search_field.keyup(function() {
    if(search_field.val() === "")
      return;
    $.getJSON("/courses/search/" + search_field.val(), function(data)
    {
      result_list.empty();
      $.each(data, function() { 
        var li = $("<li>");
        li.text(this.course.title);
        result_list.append(li);
      });
      result_list.listview('refresh');
    });
  });
});
</script>
<ul data-role="listview" id="courses_result_list">
</ul>

