.forty-col {
	width:12.3%;
	border:1px solid gray;
	float:left;
}
#factCarousel blockquote {
	margin-left: 45px;
	margin-right: 30px; 
	min-height: 200px; 
}
.fact_no {
	font-size: 20pt; 
	font-weight: bold; 
	margin-right: 10px; 
	float:left;
	height: 20px; 
	padding-top:7px;
}
.fact_text {
	font-size: 14px;
}
@media (max-width: 480px) { 
  .forty-col {
    width:90%;
    clear:both;
    margin-bottom:5px;
  }
}
@media (min-width: 480px) and (max-width: 1199px) { 
  .forty-col {
    width:12.0%;
  }
}

#forty-year-fact-container {
  margin-top:10px;
  cursor:pointer;
  display:none;
}

#timetable-duration-label {
  font-size:20px;
}