.box_round {
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;


-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#loading {
	display:none;
}

#spinner {
	float:right;
	display:inline;
	margin-right: 10px;
	margin-top: 22px;
	margin-left: 5px;
}

#offline {
	display:none;
}
.two-column {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
.round-corners {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.dashboard-list > div {
	margin-bottom: 5px;
}
.footer {
	font-size: 8px;
	color: #999;
	text-transform: uppercase;
	text-align: center;
}
.no-left-margin {
	margin-left: 0px;
}
.no-bullets {
	list-style-type:none;
}
.source-info {
	color:gray; 
	font-size:10px;
}
.only-smartphone-landscape {
	display: none !important;
}
@media (min-width: 321px) {
	.only-smartphone-landscape {
    display: inherit !important;
  }
}
.login-button:hover {
  text-decoration:none;
}
.login-button i {
  font-size:50px;
}
.login-button-bar {
  margin-top:20px;
}
.small-login-button:hover {
  text-decoration:none;
}
.small-login-button i {
  font-size:16pt;
}
.icon-love {
  font-size:7pt;
  color:#F27490;
}