// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "icons/*.png";
@include all-icons-sprites;
 
.dashboard-link {
  height:45px;
  width:45px;
  display:inline-block;
  vertical-align:middle;
}
.dashboard-row {
  margin-bottom:5px;
}
.bold {
	font-weight: bold;
}
.huge {
	font-size: 40pt;
	line-height:100%;
}
@media screen and (max-width: 480px) {
	.huge {
		font-size: 20pt;
	}
}
.gray {
	color: gray;
}
.hand { 
	cursor: hand; 
	cursor: pointer; 
}