// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  text-align: center;
}
#menus {
  list-style-type: none;
  margin-top: 10px;
}
#restaurantSelector {
  float:right;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .long-text {
    display:none;
  }
  #restaurantSelector {
    margin-right: 0px;
  }
}
@media screen and (max-width: 240px) {   // untested.
  #restaurantSelector {
    float:none;
  }
  .long-text {
    display:inline;
  }
}
#restaurantList li a.active {
  font-weight: bold;
}
